body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.quiz_app_inner {
	margin: auto;
	max-width: 730px;
	width: 100%;
}

.sLang-btn {
	margin: 0 0 15px 0;
}

.answer_wrap {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding: 3px;
}

.answer_wrap .badge {
	margin-right: 5px;
}
